/ex00/hello
/ex01/min
/ex02/collatz
/ex02/yes
/ex02/print_bytes
/ex03/fizzbuzz
/ex04/target/
/ex04/Cargo.lock
/ex05/target/
/ex05/Cargo.lock
/ex06/Cargo.lock
/ex06/target/
/ex07/target/
/ex07/Cargo.lock
